body {
    font-family: 'Roboto Mono', monospace;
    background-color: hsla(246, 100%, 9%, 0.99);
}

h1, h2 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    margin-top: 60px;
}


.about-me {
    text-align: center;
    width: 95vw;
    margin: 0 auto;
    border-radius: 25px;
    border: 1px solid black;
    background-color: lightblue;
    padding: 5px;
}

.projects-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}

.project {
    background-color: rgb(204, 153, 255);
    border-radius: 25px;
    
}

/* Set default size for all project images */
.project img {
    width: 310px;
    height: 277px;
    border-radius: 25px;
}

/* align figure content (img and caption) vertically */
.project figure {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social-links {
    text-align: center;
    color: aliceblue;
}

@media screen and (max-width: 815px) {
    .projects-container {
        gap: 20px;
    }
}
