[submodule "qr-code-component"]
	path = qr-code-component
	url = https://github.com/adie9/qr-code-component
[submodule "To-Do-List-Project"]
	path = To-Do-List-Project
	url = https://github.com/adie9/To-Do-List-Project.git
